@font-face {
	font-family: Ubuntu-Bold;
	src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
	font-family: Ubuntu-Medium;
	src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
	font-family: Ubuntu-Regular;
	src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

:root {
	font-family: "Ubuntu-Regular";

	background-color: #eef5ff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

ol {
	margin: 0;
}
